<tr>
	<td class="user-post-background">
		<span class="post-content"><%= user_post.content %></span> </br>
		<span class="post-timestamp">
			Posted <%= time_ago_in_words(user_post.created_at) %> ago.
		</span>
		<div class="bottom-post-border"></div>
	</td>
</tr>