/*css reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css reset ends*/

body{
		/*background: url('/assets/back-3.png') repeat center center fixed;*/
		background-color: #fcf5e4;
		margin: 0px;
}
.nav {
	   	width: 100%;
  		height: 67px;
  		background: rgba(19, 19, 19, 0.9);
  		text-align: center;
  		position: fixed;
  		margin-top: -2px;
  		z-index: 100;
  		border-bottom: solid 2px rgba(0,0,0,0.1);
		-webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.44);
		-moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.44);
		box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.44);
}	
.nav ul{
		-webkit-padding-start: 0px;
		-webkit-margin-before: 0px;
  		-webkit-margin-after: 0px;
  		margin: 0;
  		padding: 0;
}
.nav ul li {
		display: inline;
    	text-align: center;
}
.nav ul li a:link {
		padding: 5px 15px;
		color: white;	
		text-decoration: none;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
}
.nav ul li a:visited {
		color: white;	
		text-decoration: none;
}
.nav ul li a:link:hover {
		color: #137ec6;
		text-decoration: none;
}
.nav ul li a:active {
		color: #137ec6;	
		text-decoration: none;
}
.mainlogo img {
		margin-top: 5px;
  		width: 138px;
  		height: 33px;
}
.avatar_wrapper{
		height: 200px;
  		width: 200px;
  		top: 119px;
  		left: 50px;
  		position: absolute;
}
.avatar_wrapper_unselectable {
		height: 200px;
  		width: 200px;
  		top: 119px;
  		left: 50px;
  		position: absolute;
  		pointer-events: none /*unselectable*/
}
.avatar{
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		height: 200px;
  		width: 200px;
  		position: absolute;
  		pointer-events: none /*unselectable*/
		-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.73);
		-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.73);
		box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.73);
}
/*Change profile picture button*/
label.browseprofilepicbtn input[type="file"] {
    position: fixed;
    top: -1000px;
}
.container {
 		text-align: center;
 		color: white;
   		font-size: 15px;
		font-family: 'Open Sans', sans-serif;
		border-radius: 20px;
  }
.browseprofilepicbtn {
    border-radius: 0 0 20px 20px;
    display: inline-block;
    top: 150px;
    position: relative;
    width: 200px;
  	height: 50px;
}
.browseprofilepicbtn:hover {
    background: rgba(5, 3, 3, 0.5);
    cursor: hand;
    cursor: pointer;
}
.browseprofilepicbtn:active {
    background: rgba(5, 3, 3, 0.7);
    cursor: hand;
    cursor: pointer;
}
.spanbtn {
		padding: 150px 47px 34px 47px;
  		border-radius: 20px;
  		opacity: 0;
  		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none; 	
		-o-user-select: none;
		user-select: none;
}
.spanbtn:hover {
		padding: 150px 47px 34px 47px;
  		border-radius: 20px;
  		opacity: 1;
}
.spanbtn:active {
		padding: 150px 47px 34px 47px;
  		border-radius: 20px;
  		opacity: 1;
}
.nadpis{
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		color: rgb(255, 255, 255)
}
.text-intro p{
		font-family: 'Open Sans', sans-serif;
    	text-align: center;
    	width: 700px;
    	margin-left: auto;
    	margin-right: auto;
    	color: rgb(255, 255, 255)
}
/*user posts section*/
.user_posts_wrapper {
		width: 700px;
		height: auto;
  		margin-left: auto ;
  		margin-right: auto ;
  		margin-top: 70px;
  		margin-bottom: 30px;
  		-moz-border-radius: 5px 5px 5px 5px;
		-khtml-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
    	border-bottom: none;
    	background-color: rgba(255, 255, 255, 0.5);
		-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}
.bottom-post-border {
		border-bottom: 1px solid rgba(0,0,0,0.1);
		padding-bottom: 5px;
}
.post-content {
		margin: 4px 4px 4px 14px;
		width: 682px;
		display: inline-block;
		word-wrap:break-word;
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		line-height: normal;
}
.user_post_input_area {
		-webkit-transition: all 600ms ease;
		-moz-transition: all 600ms ease;
		-ms-transition: all 600ms ease;
		-o-transition: all 600ms ease;
		transition: all 600ms ease;
		-webkit-transition-delay: 3s;
		-moz-transition-delay: 3s;
		-ms-transition-delay: 3s;
		-o-transition-delay: 3s;
		transition-delay: 3s;
		-webkit-box-shadow: 0px 1px 3px -2px rgba(0,0,0,0.78);
		-moz-box-shadow: 0px 1px 3px -2px rgba(0,0,0,0.78);
		box-shadow: 0px 1px 3px -2px rgba(0,0,0,0.78);
		outline: none;
		resize: none;
		width: 696px;
		min-height: 10px;
		border-radius: 3px 3px 0 0;
		border: 0px;
		overflow: hidden;
		font-family: 'Open Sans', sans-serif;
		background-color: rgba(255, 255, 255, 0.5);
}
.user_post_input_area:focus {
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
		-webkit-box-shadow: 0px 1px 3px -2px rgba(0,0,0,0.78);
		-moz-box-shadow: 0px 1px 3px -2px rgba(0,0,0,0.78);
		box-shadow: 0px 1px 3px -2px rgba(0,0,0,0.78);
		outline: none;
		resize: none;
		width: 696px;
		min-height: 60px;
		border-radius: 3px 3px 0 0;
		border: 0px;
		overflow: hidden;
		font-family: 'Open Sans', sans-serif;
		background-color: white;
}
.user_post_input_button{
		margin-left: 45%;
  		position: relative;
		-webkit-border-radius: 4;
		-moz-border-radius: 4;
		border: none;
		border-radius: 4px;
		font-family: 'Open Sans', sans-serif;
		color: #ffffff;
		font-size: 16px;
		background: #292929;
		padding: 2px 6px 2px 6px;
	  	text-decoration: none;
	  	margin-top: 4px;
	  	outline: none;
	  	cursor: hand;
}
.user_post_input_button:hover{
		background: rgb(182, 15, 129);
		background-image: -webkit-linear-gradient(top, rgb(182, 15, 129), #5c0c5c);
		background-image: -moz-linear-gradient(top, rgb(182, 15, 129), #5c0c5c);
		background-image: -ms-linear-gradient(top, rgb(182, 15, 129), #5c0c5c);
		background-image: -o-linear-gradient(top, rgb(182, 15, 129), #5c0c5c);
		background-image: linear-gradient(top bottom, rgb(182, 15, 129), #5c0c5c);
		text-decoration: none;
		outline: none;
		cursor: hand;
}
.user_post_input_button:active{
		background: rgb(182, 15, 129);
		background-image: -webkit-linear-gradient(top, rgb(182, 15, 129), #5c0c5c);
		background-image: -moz-linear-gradient(top, rgb(182, 15, 129), #5c0c5c);
		background-image: -ms-linear-gradient(top, rgb(182, 15, 129), #5c0c5c);
		background-image: -o-linear-gradient(top, rgb(182, 15, 129), #5c0c5c);
		background-image: linear-gradient(top bottom, rgb(182, 15, 129), #5c0c5c);
		text-decoration: none;
		outline: none;
		-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
		box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
		cursor: hand;
}
.user_post_input_button:visited{
		-webkit-border-radius: 4;
		-moz-border-radius: 4;
		border-radius: 4px;
		font-family: Arial;
		color: #ffffff;
		font-size: 16px;
		background: #292929;
		padding: 3px 6px 3px 6px;
	  	text-decoration: none;
	  	outline: none;
	  	cursor: hand;
}
.user_post_input_area::-webkit-input-placeholder {
		text-align: center;
}
.user_post_input_area:-moz-placeholder { /* Firefox 18- */
		text-align: center;  
}
.user_post_input_area::-moz-placeholder {  /* Firefox 19+ */
		text-align: center;  
}
.user_post_input_area:-ms-input-placeholder {  
		text-align: center; 
}
.user-post-background:hover {
		-webkit-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
		-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
		box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
}
.post-timestamp {
		margin-left: 14px;
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
		color: rgb(25, 26, 26);
}
.post-username a {
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		text-decoration: none;	
		color: black;
}
.user-post-thumbnail {
		margin: 14px 4px 0px 14px;
		border:1px solid rgba(14, 17, 18, 0.84);
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		pointer-events: none /*unselectable*/
}
/* post functions START */
.post-functions-wrapper {
		margin-top: 3px;
		width: 700px;
		height: 30px;
		position: relative;
}
.post-like {
		background: url('/assets/heart-blank-like.png') no-repeat;
		width: 30px;
		height: 27px;
		left: 0;
		right: 0;
		margin: 0 auto;
  		display: inline-block;
  		position: absolute;
  		opacity: 0.9;
}
.post-like:hover {
		background: url('/assets/heart-blank-like-active.png') no-repeat;
		width: 30px;
		height: 27px;
		left: 0;
		right: 0;
		margin: 0 auto;
  		display: inline-block;
  		position: absolute;
  		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
}
.post-comment {
		background: url('/assets/post-comment.png') no-repeat;
		width: 30px;
		height: 30px;
		left: 23%;
  		display: inline-block;
  		position: absolute;
  		opacity: 0.9;
}
.post-comment:hover {
		background: url('/assets/post-comment-active.png') no-repeat;
		width: 30px;
		height: 30px;
		left: 23%;
  		display: inline-block;
  		position: absolute;
  		opacity: 1;
  		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
}
.post-share {
		background: url('/assets/post-share.png') no-repeat;
		width: 30px;
		height: 30px;
		right: 23%;
		display: inline-block;
		position: absolute;
		opacity: 0.9;
}
.post-share:hover {
		background: url('/assets/post-share-active.png') no-repeat;
		width: 30px;
		height: 30px;
		right: 23%;
		display: inline-block;
		position: absolute;
  		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
}
.post-edit {
		background: url('/assets/post-edit.png') no-repeat;
		width: 30px;
		height: 27px;
		left: 0;
		right: 0;
		margin: 0 auto;
  		display: inline-block;
  		position: absolute;
  		opacity: 0.9;
}
.post-edit:hover {
		background: url('/assets/post-edit-active.png') no-repeat;
		width: 30px;
		height: 27px;
		left: 0;
		right: 0;
		margin: 0 auto;
  		display: inline-block;
  		position: absolute;
  		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
}
.post-delete {
		background: url('/assets/post-delete.png') no-repeat;
		width: 30px;
		height: 30px;
		right: 23%;
		display: inline-block;
		position: absolute;
		opacity: 0.9;
}
.post-delete:hover {
		background: url('/assets/post-delete-active.png') no-repeat;
		width: 30px;
		height: 30px;
		right: 23%;
		display: inline-block;
		position: absolute;
  		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
}
/* post functions END */
.sign-up {
		text-align: center;
		font-family: 'Open Sans', sans-serif;
}
#user_email, #user_password {
		border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-color: rgba(0, 0, 0, 1);
		width: 265px;
		height: 35px;
		margin-bottom: 8px;
		font-size: 20px;
		color: silver;
}
#new_user button {
		width: 90px;
		height: 28px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: rgba(56, 56, 56, 0.7);
		border-color: rgba(0, 0, 0, 1);
		color: white;
		font-family: 'Open Sans', sans-serif;		
}
#new_user button:visited {
		width: 90px;
		height: 28px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: rgba(26, 255, 11, 0.7);
		border-color: rgba(0, 0, 0, 1);
		color: white;
		font-family: 'Open Sans', sans-serif;		
}
#new_user button:hover {
		width: 90px;
		height: 28px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: rgba(26, 255, 11, 0.7);
		border-color: rgba(0, 0, 0, 1);
		color: white;
		font-family: 'Open Sans', sans-serif;		
}
#new_user button:active {
		width: 90px;
		height: 28px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: rgba(26, 255, 11, 1);
		border-color: rgba(0, 0, 0, 1);
		color: black;
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;		
}		
input {
		text-align: center;
		background-color: rgba(0,0,0,0.6);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: silver;
}
input:-moz-placeholder, textarea:-moz-placeholder {
color: silver;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color: silver;
}
