body{
		background: url('/assets/spacedog2.jpg') no-repeat center center fixed;
		margin: 0px;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
}
.nav {
	   	width: 100%;
  		height: 67px;
  		background: rgba(37, 37, 37, 0.5);
  		text-align: center;
  		position: fixed;
  		margin-top: -2px;
  		z-index: 100;
  		border-bottom: solid 2px #3f3f3f;
}	
.nav ul{
		-webkit-padding-start: 0px;
		-webkit-margin-before: 0px;
  		-webkit-margin-after: 0px;
  		margin: 0;
  		padding: 0;
}
.nav ul li {
		display: inline;
    	text-align: center;
}
.nav ul li a:link {
		padding: 5px 15px;
		color: white;	
		text-decoration: none;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
}
.nav ul li a:visited {
		color: white;	
		text-decoration: none;
}
.nav ul li a:link:hover {
		color: #137ec6;
		text-decoration: none;
}
.nav ul li a:active {
		color: #137ec6;	
		text-decoration: none;
}
.mainlogo img {
		margin-top: 5px;
  		width: 138px;
  		height: 33px;
}
.avatar{
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border:4px solid rgb(28, 102, 174);
		height: 200px;
  		width: 200px;
  		margin-top: 55px;
  		margin-left: 50px
}
.nadpis{
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		color: rgb(255, 255, 255)
}
.text-intro p{
		font-family: 'Open Sans', sans-serif;
    	text-align: center;
    	width: 700px;
    	margin-left: auto;
    	margin-right: auto;
    	color: rgb(255, 255, 255)
}
.sign-up {
		text-align: center;
		font-family: 'Open Sans', sans-serif;
}
#user_email, #user_password {
		border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-color: rgba(0, 0, 0, 1);
		width: 265px;
		height: 35px;
		margin-bottom: 8px;
		font-size: 20px;
		color: silver;
}
#new_user button {
		width: 90px;
		height: 28px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: rgba(56, 56, 56, 0.7);
		border-color: rgba(0, 0, 0, 1);
		color: white;
		font-family: 'Open Sans', sans-serif;		
}
#new_user button:visited {
		width: 90px;
		height: 28px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: rgba(26, 255, 11, 0.7);
		border-color: rgba(0, 0, 0, 1);
		color: white;
		font-family: 'Open Sans', sans-serif;		
}
#new_user button:hover {
		width: 90px;
		height: 28px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: rgba(26, 255, 11, 0.7);
		border-color: rgba(0, 0, 0, 1);
		color: white;
		font-family: 'Open Sans', sans-serif;		
}
#new_user button:active {
		width: 90px;
		height: 28px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: rgba(26, 255, 11, 1);
		border-color: rgba(0, 0, 0, 1);
		color: black;
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;		
}		
input {
		text-align: center;
		background-color: rgba(0,0,0,0.6);
}
/*.rcorners { 
     	border-radius: 12px;
   		border: 1px solid #252525;
  		padding: 10px; 
    	width: 700px;
    	margin-left: auto;
    	margin-right: auto;
    	height: auto;
    	background-color:black;
    	opacity:0.5;
}	*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: silver;
}
input:-moz-placeholder, textarea:-moz-placeholder {
color: silver;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color: silver;
}