.nadpis-home{
  text-align: center;
  text-transform: uppercase;
}
.text-intro{
    text-align:center
}
#new_user button {
		width: 90px;
		height: 28px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: rgba(56, 56, 56, 0.7);
		border-color: rgba(0, 0, 0, 1);
		color: white;
		font-family: 'Open Sans', sans-serif;		
}
#new_user button:visited {
		width: 90px;
		height: 28px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: rgba(26, 255, 11, 0.7);
		border-color: rgba(0, 0, 0, 1);
		color: white;
		font-family: 'Open Sans', sans-serif;		
}
#new_user button:hover {
		width: 90px;
		height: 28px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: rgba(26, 255, 11, 0.7);
		border-color: rgba(0, 0, 0, 1);
		color: white;
		font-family: 'Open Sans', sans-serif;		
}
#new_user button:active {
		width: 90px;
		height: 28px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: rgba(26, 255, 11, 1);
		border-color: rgba(0, 0, 0, 1);
		color: black;
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;		
}		
input {
		text-align: center;
		background-color: rgba(0,0,0,0.8);
}
/*.rcorners { 
     	border-radius: 12px;
   		border: 1px solid #252525;
  		padding: 10px; 
    	width: 700px;
    	margin-left: auto;
    	margin-right: auto;
    	height: auto;
    	background-color:black;
    	opacity:0.5;
}	*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: silver;
}
input:-moz-placeholder, textarea:-moz-placeholder {
color: silver;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color: silver;
}