
	<h1 class="nadpis">Welcome to Booquora!</h1>
		<div class="rcorners">
			<div class="text-intro">
				<% if user_signed_in? %>
					<p>Semiotics art party dreamcatcher, retro mlkshk swag letterpress raw denim deep v Portland. Master cleanse VHS forage locavore, Helvetica shabby chic jean shorts whatever disrupt pop-up iPhone. Freegan Truffaut raw denim plaid banh mi jean shorts Shoreditch, PBR&B gentrify Brooklyn flexitarian Etsy. IPhone kogi master cleanse, disrupt gastropub raw denim vinyl heirloom roof party Tumblr. Pinterest try-hard wayfarers hella, authentic lumbersexual master cleanse Williamsburg High Life literally photo booth. Distillery banjo Bushwick bicycle rights, plaid Godard single-origin coffee scenester selfies tofu Neutra master cleanse drinking vinegar. Cold-pressed leggings pour-over keffiyeh, Bushwick slow-carb craft beer narwhal squid.</p>
				<% else %>
					<p>Semiotics art party dreamcatcher, retro mlkshk swag letterpress raw denim deep v Portland. Master cleanse VHS forage locavore, Helvetica shabby chic jean shorts whatever disrupt pop-up iPhone. Freegan Truffaut raw denim plaid banh mi jean shorts Shoreditch, PBR&B gentrify Brooklyn flexitarian Etsy. IPhone kogi master cleanse, disrupt gastropub raw denim vinyl heirloom roof party Tumblr. Pinterest try-hard wayfarers hella, authentic lumbersexual master cleanse Williamsburg High Life literally photo booth. Distillery banjo Bushwick bicycle rights, plaid Godard single-origin coffee scenester selfies tofu Neutra master cleanse drinking vinegar. Cold-pressed leggings pour-over keffiyeh, Bushwick slow-carb craft beer narwhal squid.</p>
			</div>
		</div>	
		<div class="sign-up">
			<%= form_for(User.new, :url => new_user_registration_path) do |f| %>
				<h2>New to Booquora? Sign up now!</h2>
		  		 <%= f.email_field :email, :placeholder => "email adress" %> </br>
		 		 <%= f.password_field :password, :placeholder => "password" %> </br>
		 		 <%= button_tag :type => :submit do %>
		  		  SIGN UP
		  		<% end %>
			<% end %>
		</div>
	<% end %>

	
	
	