<h1>Welcome to Booquora!</h1>

<%= form_for(User.new, :url => new_user_registration_path) do |f| %>
  <%= f.email_field :email %> </br>
  <%= f.password_field :password %> </br>
  <%= button_tag :type => :submit do %>
    Sign up
  <% end %>
<% end %>
	
	